/* Navbar Background */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Inter;
}

/* Navbar Background */
.navbar {
  background: white;
  font-family: Inter;
  width: 1440px;
  font-size: 16px;
  position: fixed;
  height: 89%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: black !important;
  padding: 0;
  box-sizing: border-box;
}
.nav-links {
  margin-right: 20px;
}
.MuiListItemText-primary {
  color: black !important;
}

/* Logo */
.logo {
  height: 40%;
  width: 160px;
}

/* Search Image */
.search-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

/* Search Image */
.search-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 10px;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  background: white;

  padding: 5px;
}

@media (max-width: 600px) {
  .search-box {
    max-width: 150px;
    right: 5px;
  }
}

.search-input {
  width: 200px;
}

.close-icon {
  color: black;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 5px;
}

.nav-button,
.book-call-btn {
  text-transform: none !important;
  font-size: 14px;
  color: black !important;
}

.navbar .nav-button:hover {
  color: red !important;
}

/* Active Tab Underline */
.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;

  background: linear-gradient(to right, #599ed4, #cc0000);
}

/* "Book a Call" Button */
.book-call-btn {
  color: #fafafa !important;
  background: linear-gradient(to left, #599ed4, #cc0000);
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  height: 42%;
  width: 123px;
}

/* Hamburger Menu */
.menu-icon {
  display: none;
  color: black;
}

/* Responsive Styles */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}
